@model string

@{ 
    Layout = null;
}



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Controllesr and Action</title>
    <link asp-href-include="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    Model Data: @Model
    </body>
</html>
